{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "twigPrintWidth": 120,
  "twigMultiTags": [
    "nav,endnav",
    "switch,case,default,endswitch",
    "ifchildren,endifchildren",
    "cache,endcache",
    "js,endjs"
  ]
}
